{% load i18n %}
  <script>
  $(function(){

    $("div.holder").jPages({
      containerID  : "itemContainer",
      perPage      : 10,
      startPage    : 1,
      startRange   : 1,
      midRange     : 5,
      endRange     : 1
    });

  });
  </script>
<article  id="search" class="content">
	<div class="container">
        <div class="row">
            <div class="col-lg-12" style="text-align:center">
            <hr>
                <h3>{% trans "Search crowdsourced wisdom..." %}</h3><br>
                <form action="" method="post" id="searchForm">{% csrf_token %}
                  <input type="text" name="search" id="searchtext" placeholder="{% trans "Explore pictures... (please one word at a time)" %}"  value="{{ search }}" size="40">
                  <button class="btn btn-search btn-custom searchSubmit" type="submit" name="Search" value="Search" id="Search">{% trans "search" %}</button><br><br>
                </form>
            </div>
            <div class="col-lg-12 search" style="text-align:center">
			<div id="content">
        <ul id="itemContainer">
        	{% if images %}
             	<hr>
            {% endif %}
        	{% for image in images %}
        			{% with quote="&#39;" %}
        			<li><a href="{{ MEDIA_URL }}{{ image.image }}" rel="prettyPhoto[bilder]" alt='<a href="{{ MEDIA_URL }}{{ image.image }}" download="{{ image.image }}">{% trans "Download this picture" %}</a>
	        			{% comment %}<a href="#" onclick="apprise({{ quote }}{% for tag in image.image.tags.all|slice:":5" %}{{ tag }}<br>{% endfor %}{{ quote }});">Tags</a>{% endcomment %}
	        			'><img src="{{ MEDIA_URL }}{{ image.image }}" class="re"/></a></li>
	        		{% endwith %}
            {% endfor %}
            {% if noimage %}
            <div class="bs-callout-warning">
            	<h4>{% trans "Oh no!" %}</h4>
            	<p>{% trans "Your search did not match any entries. Don't panic, we'll get through this together. Let's explore our options here. You can search again using a different searchterm for the pictures you were looking for or you can go back to start and continue tagging to let our crowdsourced database grow!" %}</p>
            </div>
            {% endif %}
        </ul>
        </div>
            </div>
            {% if images %}
            <div class="col-lg-12 holder" style="text-align:center">
            </div>	
            {% endif %}
        </div>
    </div>
</article>
<script type="text/javascript" charset="utf-8">
               $(document).ready(function(){
                 $("a[rel^='prettyPhoto']").prettyPhoto(
			    {
			       deeplinking: false
			    });
               });
               
                   $('#searchtext').keydown(function(e) {
        if (e.keyCode == 32) {
            return false;
        }
    });
    </script>